body{
    background-color: #43766C;
}
p{
    width: 500px;
    height: 75px;
    padding: 10px;
    border: 5px solid;
}
p{
    width: 500px;
    height: 75px;
    padding: 10px;
    border-left: 2px;
    color: aliceblue;
    background-color : #AAD9BB;
    border-radius: 20px ;
    border-color: #80BCBD;
}
.p2{
    width: 500px;
    height: 75px;
    padding: 10px;
    border: 5px solid;
    position: relative;
    color: aliceblue;
    background-color : #AAD9BB;
    border-radius: 20px ;
    border-color: #80BCBD;
}